<html ng-app="plateyModule">
	<head>
		<link rel="stylesheet" type="text/css" href="../bower_components/slickgrid/slick.grid.js" />
	</head>
	<body ng-controller="plateyController">
		<div platey-plate></div>
		<input type="text" ng-model="currentValue">

		<div ng-repeat="wellId in selectedWellIds">
			{{ wellId }}
		</div>

		<script src="../bower_components/paper/dist/paper-full.js"></script>
		<script src="../src/platey.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="angular-implementation.js"></script>
	</body>
</html>
