<html ng-app="plateyApp">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="platey-style.css" />
  </head>

  <body ng-controller="plateyController"
	  ng-keypress="bodyKeypressHandler($event);"
	  ng-click="bodyClickEventHandler($event);">

    <main>
      <div class="left-panel">
	<button class="btn btn-default" ng-click="newPlate();">
	  New Plate
	</button>
	<button class="btn btn-default" ng-click="clearPlate();">
	  Clear Plate
	</button>
	<button class="btn btn-default" ng-click="exportTableToCSV();">
	  CSV Export
	</button>
	<div platey-plate></div>
      </div>

      <div class="right-panel">

	<div class="fixed-top">
	  <div class="input-group">
	    <div class="input-group-addon">
	      <span ng-if="selectedColumn === null">
		No column selected
	      </span>
	      <span ng-if="selectedColumn !== null">
		{{ selectedColumn.header }}:
	      </span>
	    </div>
	    
	    <input type="text"
		    class="form-control"
		    ng-model="currentValue"
		    ng-click="$event.stopPropagation();"
		    ng-keyup="setValueOfSelectedWells(); $event.stopPropagation();"
		    ng-disabled="noWellsSelected() || noActiveColumnSelected()"
		    placeholder="Set the value of the selected wells" />
	  </div>
	</div>

	<table class="table main-table">

	  <thead>
	    <th>Well ID</th>

	    <th ng-repeat="column in columns"
		    ng-class="{'selected-cell': column === $parent.selectedColumn }"
		    ng-click="$parent.selectColumn(column); $event.stopPropagation();">

		<input type="text"
		       ng-model="column.header"
		       class="form-control"
		       style="width: 80%; display: inline" />
		<button ng-click="removeColumn(column);"
			class="btn btn-danger">X</button>
	    </th>

	    <th>
	      <button class="btn btn-success"
		      ng-click="addColumn(); $event.stopPropagation();">
		Add Column
	      </button>
	    </th>
	  </thead>

	  <!-- Well IDs and their associated data -->
	  <tbody>

	    <tr ng-repeat="well in wells"
		    ng-class="{'selected-row': well.selected}"
		    ng-click="$parent.clickWell($event, well); $event.stopPropagation();">
	      <td>{{ well.id }}</td>
	      <td ng-repeat="column in columns"
		  ng-class="{'selected-cell': $parent.selectedColumn === column }"
		  ng-click="$parent.selectColumn(column);">
		{{ well[column.id] }}
	      </td>
	    </tr>

	  </tbody>

	</table>

      </div>
    </main>

    <script src="bower_components/paper/dist/paper-full.js"></script>
    <script src="bower_components/papaparse/papaparse.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="src/platey.js"></script>
    <script src="platey-directive.js"></script>
    <script src="platey-controller.js"></script>
    <script src="platey-app.js"></script>
  </body>
</html>
