<html ng-app="plateyApp">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="platey-style.css" />
  </head>

  <body ng-controller="plateyController">

    <main>
      <div class="left-panel">      
	<button class="btn btn-default" ng-click="clearPlate();">
	  New Plate
	</button>
	<button class="btn btn-default" ng-click="exportTableToCSV();">
	  CSV Export
	</button>
	<div platey-plate></div>
      </div>
      
      <div class="right-panel">

	<div class="fixed-top">
	  <input type="text"
		  class="form-control"
		  ng-model="currentValue"
		  ng-click="$event.stopPropagation();"
		  ng-keyup="setValueOfSelectedWells(); $event.stopPropagation();"
		  ng-disabled="noWellsSelected() || noActiveColumnSelected()"
		  placeholder="Set the value of the selected wells" />
	</div>
	
	<table class="table main-table">
	  
          <thead>
	    <th>Well ID</th>
	    
	    <th ng-repeat="n in [] | range:numberOfColumns" 
		    ng-class="{'selected-cell': $parent.currentColumnIdx === n}"
		    ng-click="$parent.selectColumn(n); $event.stopPropagation();">
              {{ n }} 
	    </th>
	    
	    <th>
	      <button class="btn btn-success" 
		      ng-click="addColumn(); $event.stopPropagation();">
		Add Column
	      </button>
	    </th>
          </thead>
	  
	  <tbody>
	    
	    <tr ng-repeat="well in wells" 
		    ng-class="{'selected-row': well.selected}"
		    ng-click="$parent.selectWell($event, well); $event.stopPropagation();">
	      <td>{{ well.id }}</td>
	      <td ng-repeat="column in well.columns track by $index" 
		      ng-class="{'selected-cell': $parent.currentColumnIdx === $index}">
		<input ng-model="well.columns[$index]"
			ng-click="$parent.selectColumn($index);"
			class="form-control">
	      </td>
	    </tr>
	    
	  </tbody>
	  
	</table>
      </div>
    </main>

    <script src="bower_components/paper/dist/paper-full.js"></script>
    <script src="bower_components/papaparse/papaparse.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="src/platey.js"></script>
    <script src="platey-directive.js"></script>
    <script src="platey-controller.js"></script>
    <script src="platey-app.js"></script>
  </body>
</html>
