html, body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.control-bar {
    position: fixed;
    display: flex;
    height: 30px;
    z-index: 100;
    border-width: 0 0 1px 0;
    border-color: black;
    border-style: solid;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.control-bar > * {
    flex: none;
    height: 100%;
    vertical-align: middle;
    line-height: 30px;
}

.control-bar .column-selection {
    padding-left: 20px;
    padding-right: 10px;
    font-style: italic;
}

.control-bar > *:last-child {
    flex: auto;
    border-radius: 0;
}

.control-bar .site-title {
    font-family: "Georgia";
    padding: 0 20px 0 5px;
    font-weight: bold;
}

/* Make the control buttons match the control
   bar */
.control-bar button {
    margin: 0 5px;
    border-width: 0;
    background-color: #fff;
}

.control-bar button:hover {
    background-color: #eee;
}

.control-bar .input-bar input {
    vertical-align: middle;
    line-height: normal;
}

main {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    height: 100%;
}

.plate {
    width: 560px;
    cursor: pointer;
}

.main-panel {
    flex: auto;
    height: 100%;
    overflow: auto;
}

/* Collapse under plate on smaller screens */
@media screen and (max-width: 800px) {
    .main-panel {
	padding-top: 400px;
	padding-left: 0;
    }
}

.main-table {
    white-space: nowrap;

    /* Prevent normal selection behavior because
       we handle selection behavior in the javascript */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-table thead {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: grey;
}

.selected-well {
    background-color: #ccefff;
}

.main-table .selected-row, .selected-column {
    background-color: #e6f7ff;
}

.main-table td {
    text-align: center;
    padding: 0em 1em;
    min-width: 200px;
    cursor: pointer;
}

.main-table td.well-id {
    min-width: auto;
}