$selected-well-color: #ccefff;
$main-area-background-color: #f9f9f9;
$base-font-size: 14px;
$control-bar-background-color: #fff;
$control-bar-button-hover-background-color: #eee;
$disabled-text-color: #ccc;
$non-selected-well-stroke: #666;
$selected-well-stroke: #000;

$button-bar-height: 3em;
$input-bar-height: 3em;
$main-content-offset: 6em; // Button bar + input bar