@import "constants";

.control-bar {

  padding: 0.2em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: $control-bar-background-color;

  > * {
    flex: none;
    display: inline-block;
  }

  > *:last-child {
    flex: auto;
    border-radius: 0;
  }

  .site-title {
    padding: 0 20px 0 5px;
    font-weight: bold;
  }

  button {
    margin: 0 5px;
    border-width: 0;
    background-color: $control-bar-background-color;

    &:hover {
      background-color: $control-bar-button-hover-background-color;
    }

    &[disabled] {
      color: $disabled-text-color;
    }

    &[disabled]:hover {
      background-color: $control-bar-background-color;
      cursor: not-allowed;
    }
  }

  .column-selection {
    padding-left: 20px;
    padding-right: 10px;
    font-style: italic;
  }

  .input-bar input {
    vertical-align: middle;
    background-color: #eee;
  }
}