@import "constants";

html, body, .main-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: $base-font-size;
}

main {
  position: absolute;
  top: $main-content-offset;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $main-area-background-color;
}

.plate-panel {
  width: 30%;
  height: 100%;
  float: left;
  align: center;
  text-align: center;
  border-right: 3px double lightgray;
}

.main-panel {
  width: 70%;
  float: left;
  height: 100%;
  overflow: auto;
  padding-left: 1em;
}