<!DOCTYPE html>
<html ng-app="plateyApp">

  <head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <meta name="description"
          content="A simple UI for translating between laboratory plate layouts and standard tables." />

    <link rel="stylesheet" type="text/css" href="bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="platey-style.css" />
    <script src="bower_components/es6-shim/es6-shim.min.js"></script>
    <script src="bower_components/rxjs/dist/rx.all.min.js"></script>
    <script src="bower_components/papaparse/papaparse.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="platey.js"></script>

    <title>PlateyPlatey</title>
  </head>

  <body ng-controller="plateyController"
        ng-keypress="bodyKeypressHandler($event);"
        ng-click="bodyClickEventHandler($event);"
        ng-keydown="bodyKeydownHandler($event);">

    <div class="control-bar">
      <span class="site-title">PlateyPlatey</span>

      <!-- Plate selector -->
      <select ng-options="plateTemplate as plateTemplate.name for plateTemplate in plateTemplates track by plateTemplate.path"
	      ng-model="currentPlateTemplate"
	      ng-change="loadPlateLayout(currentPlateTemplate);"
	      class="form-control">
      </select>

      <select ng-options="arrangement as arrangement.name for arrangement in plateArrangements track by arrangement.name"
	      ng-model="currentPlateArrangement"
	      ng-change="changePlateArrangement(currentPlateArrangement)"
	      class="form-control">
      </select>

      <button platey-command="(import-csv-file)">Import</button>
      <button platey-command="(new-plate)">
        New Plate
      </button>
      <button platey-command="(clear-plate)">
        Clear Plate
      </button>
      <button platey-command="(invert-selection)">
        Invert Selection
      </button>
      <button platey-command="(select-all)">
        Select All
      </button>
      <button platey-command="(move-selected-column-left)">
        Move Selected Column Left
      </button>
      <button platey-command="(move-selected-column-right)">
        Move Selected Column Right
      </button>
      <button platey-command="(export-table-to-csv)">
        CSV Export
      </button>
      <button platey-command="(copy-table-to-clipboard)">
        Copy Table
      </button>

      <span class="column-selection">
        {{ selectedColumn === null ? "No column selected" : selectedColumn.header + ": " }}
      </span>

      <input type="text"
              ng-model="currentValue"
	      platey-keyup="(set-value-of-selected-wells currentValue)"
              ng-disabled="noCellsSelected()"
              class="form-control" />
    </div>

    <main>

      <svg class="plate"
           vbox="{{ vbox }}"
           preserveAspectRatio="xMinYMin">

        <!-- Wells -->
        <circle ng-repeat="well in wells"
                ng-attr-cx="{{ well.x }}"
                ng-attr-cy="{{ well.y }}"
                platey-radius="{{ well.radius }}"
                class="well"
                ng-class="{ hovered: well.hovered, selected: well.selected }"
		platey-command='(select-row-by-id (. well "id"))'
                ng-mouseover="hoverOverWell(well);"
                ng-mouseout="unHoverOverWell(well);"></circle>

        <!-- Selectors -->
        <text ng-repeat="selector in selectors"
                ng-attr-x="{{ selector.x }}"
                ng-attr-y="{{ selector.y }}"
                class="selector"
		platey-command='(select-rows-by-id (. selector "selectsIds"))'
                ng-mouseover="hoverOverWells(selector.selects);"
                ng-mouseout="unHoverOverWells(selector.selects);">
          {{ selector.label }}
        </text>
      </svg>

      <div class="main-panel">

        <table class="table-condensed main-table">

          <thead>
            <th>Well ID</th>

            <th ng-repeat="column in columns"
		    platey-command='(select-column "{{ column.id }}")'>

              <input type="text"
                      ng-model="column.header"
                      style="display: inline"
		      class="form-control"
                      ng-keydown="$event.stopPropagation();"/>
              <button class="remove-column-btn" platey-command='(remove-column "{{ column.id }}")'>x</button>
            </th>

            <th>
              <button class="btn btn-success" platey-command="(add-column)">Add Column</button>
            </th>
          </thead>

          <!-- Well IDs and their associated data -->
          <tbody>

            <tr ng-repeat="well in wells"
		platey-command='(focus-row "{{ well.id }}")'>
              <td class="well-id" ng-class="{'selected-row': well.selected }">{{ well.id }}</td>
              <td ng-repeat="column in columns"
                      ng-class="{'selected-well': well.selected && $parent.selectedColumn == column, 'hovered-well': well.hovered && $parent.selectedColumn == column }"
		      platey-command='(select-column "{{ column.id }}")'
                      ng-mouseover="hoverOverWell(well);"
                      ng-mouseout="unHoverOverWell(well);">
                {{ well[column.id] }}
              </td>
            </tr>

          </tbody>

        </table>

      </div>

    </main>
  </body>
</html>
