<!DOCTYPE html>
<html ng-app="plateyApp">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="A simple UI for translating between laboratory plate layouts and standard tables." />

    <link rel="stylesheet" type="text/css" href="bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="platey-style.css" />

    <title>PlateyPlatey</title>
  </head>

  <body ng-controller="plateyController"
	  ng-keypress="bodyKeypressHandler($event);"
	  ng-click="bodyClickEventHandler($event);">

    <div class="control-bar">
      <span class="site-title">PlateyPlatey</span>
      <button platey-command="new-plate">
	New Plate
      </button>
      <button platey-command="clear-plate">
	Clear Plate
      </button>
      <button platey-command="invert-selection">
	Invert Selection
      </button>
      <button platey-command="select-all">
	Select All
      </button>
      <button platey-command="move-selected-column-left">
	Move Selected Column Left
      </button>
      <button platey-command="move-selected-column-right">
	Move Selected Column Right
      </button>
      <button platey-command="export-table-to-csv">
	CSV Export
      </button>
      <button platey-command="copy-table-to-clipboard">
	Copy Table
      </button>

      <span class="column-selection">
	{{ selectedColumn === null ? "No column selected" : selectedColumn.header + ": " }}
      </span>

      <input type="text"
	      ng-model="currentValue"
	      ng-keyup="setValueOfSelectedWells();"
	      ng-disabled="noCellsSelected()" />
    </div>
    
    <main>

      <svg class="plate" 
	      vbox="{{ vbox }}"
	      preserveAspectRatio="xMinYMin">

	<!-- Wells -->
	<circle ng-repeat="well in wells" 
		ng-attr-cx="{{ well.x }}" 
		ng-attr-cy="{{ well.y }}"
		r="0.3"
		class="well"
		ng-class="{ hovered: well.hovered, selected: well.selected }"
	        ng-click="$parent.selectRowsById([well.id]);"
	        ng-mouseover="hoverOverWell(well);"
	        ng-mouseout="unHoverOverWell(well);"></circle>

	<!-- Selectors -->
	<text ng-repeat="selector in selectors"
		ng-attr-x="{{ selector.x }}"
		ng-attr-y="{{ selector.y }}"
		class="selector"
		ng-click="$parent.selectRowsById(selector.selectsIds);"
		ng-mouseover="hoverOverWells(selector.selects);"
		ng-mouseout="unHoverOverWells(selector.selects);">
	  {{ selector.label }}
	</text>
      </svg>

      <div class="main-panel">

	<table class="main-table">

	  <thead>
	    <th>Well ID</th>

	    <th ng-repeat="column in columns"
		    ng-class="{'selected-column': column === $parent.selectedColumn }"
		    ng-click="$parent.selectColumn(column.id);">

	      <input type="text"
		      ng-model="column.header"
		      style="display: inline"
	              ng-keydown="$event.stopPropagation();"/>
	      <button ng-click="removeColumn(column.id);">X</button>
	    </th>

	    <th>
	      <button class="btn btn-success" platey-command="add-column">
		Add Column
	      </button>
	    </th>
	  </thead>

	  <!-- Well IDs and their associated data -->
	  <tbody>

	    <tr ng-repeat="well in wells"
		    ng-click="$parent.clickWell($event, well);">
	      <td class="well-id" ng-class="{'selected-row': well.selected }">{{ well.id }}</td>
	      <td ng-repeat="column in columns"
		      ng-class="{'selected-well': well.selected && $parent.selectedColumn == column, 'hovered-well': well.hovered && $parent.selectedColumn == column }"
		      ng-click="$parent.selectColumn(column.id);"
		      ng-mouseover="hoverOverWell(well);"
		      ng-mouseout="unHoverOverWell(well);">
		{{ well[column.id] }}
	      </td>
	    </tr>

	  </tbody>

	</table>

      </div>

    </main>
    
    <script src="bower_components/es6-shim/es6-shim.min.js"></script>
    <script src="bower_components/rxjs/dist/rx.all.min.js"></script>
    <script src="bower_components/papaparse/papaparse.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="platey.js"></script>
  </body>
</html>
